body{
    background-color: burlywood;
    height:100%;
    width: auto;
    overflow-x: scroll;

}

@font-face {
    font-family: "Wooden";
    src: url("WoodenNickelINF.otf") format("opentype");
  
  }
  
.title{
    font-family: "Wooden";
    position: fixed;
    top: 50px;
    left: 350px;
    font-size: 100px;
    color: brown;
    text-align: center;

}


 

img {

    width: 130px;
    height: 150px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  display: grid;
  border-style: groove;
  border-color: darksalmon;
  padding: 10px;
  border-width: 2px;
  transition-property: width height;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0s;
   
  
}
img:hover {
    width: 300px;
    height: 400px;
  }

p{
    font-family: "Wooden";
    color: brown;
    font-size: 23px;
}


#project3-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 200px;
    left: 100px;
    height:100%;
    width: auto;
    overflow-x: scroll;
}
 
#project3-container article {
    width: 200px;
  
}