body{
    background-color: beige
}

img {

    width: 100px;
    height: 150px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  display: grid;
}

p{
    color: brown;
    font-size: 20px;
}

#project3-container {
    display: flex;
    flex-wrap: wrap;
}
 
#project3-container article {
    width: 200px;
}