body{
  background-color: grey;
  justify-content: center;
  overflow: hidden}

  
  
  ;@font-face {
  font-family: "adobe";
  src: url("fonts/adobe.otf");


}
@font-face {
  font-family: "khand";
  src: url("fonts/khand.ttf") ;

}

@font-face {
  font-family: "kohinoor";
  src: url("fonts/kohinoor.ttc") ;

}

@font-face {
  font-family: "munshi";
  src: url("fonts/munshi.otf") format("opentype");

}

@font-face {
  font-family: "saman";
  src: url("fonts/saman.ttf") ;

}

/* 90s fonts */

@font-face {
  font-family: "family1";
  src: url("fonts90/1.ttf");
}
@font-face {
  font-family: "family2";
  src: url("fonts90/2.ttf");
}@font-face {
  font-family: "family3";
  src: url("fonts90/3.otf") format("opentype");; 
}@font-face {
  font-family: "family4";
  src: url("fonts90/4.ttf");
}
@font-face {
  font-family: "family5";
  src: url("fonts-icon/family5.ttf");
}
@font-face {
  font-family: "family6";
  src: url("fonts-icon/family6.ttf");
}
@font-face {
  font-family: "family7";
  src: url("fonts-icon/family7.otf");
}
@font-face {
  font-family: "family8";
  src: url("fonts-icon/family8.ttf");
}@font-face {
  font-family: "family9";
  src: url("fonts-icon/family9.ttf");
}
/* 
  60s background  */
 #border{
   opacity: 0;
   width: 100%;
   height: 100%;
 }
  #background{
    display: block;
    z-index: 4;
    position: absolute;
     
    
  height:100%;
  width: 100%;
  
  margin-left: auto;
  margin-right: auto;

 
    /* top: 200px; 
    height:90%;
    width: 40%;
  margin-left: 25%;  */
 
}


#print{
  position: absolute;
  
  /* height:90%;
  width: 90%;
margin: auto;
text-align: center;
justify-content: center;
padding: 5%; */
    z-index: 6;
 opacity: 1;
  mix-blend-mode: difference;
  height:90%;
  width: 95%;

  position: absolute;
  top: 47px; 
  


margin-left: 50px;
margin-right: auto;


}

#textblock-color{
position: absolute;
    top: 76%; 
    height: 18%;
    width: 95%;
    
    text-align: center;
    justify-content: center;
display: block;
    margin-left: auto;
    margin-right: auto;
  z-index: 50000;
  left: 50px;

}
#title60{
  font-size: 70px;
  height: 50%;
    width: 70%;
    background-color: transparent;
    border: 0px;
    color: black;
    padding: 10%;
opacity: 0;
z-index:10000000000;

}

#title60:focus {
background-color: grey;
}


button {
  z-index: 10000000000000000000000000000000000777777777777777;
  position: fixed;
  top: -5px;

  font-size: 40px;

  color: black;

font-family: "family9";
border-color: transparent;

 
background-color: transparent;
 height: 100px;
 width: 100px;
 

}
button:hover {
  color: white;
  font-size: 30px;
  
}

#sixties {

  left: 15%;


}

#bg{
  left: 0;
  top: 20px;
  
}
#text60{
  left: 0;
  top: 400px;

}

#print2 {
  left: 0;
  top: 50px;
  
}

#eighties{

  left: 25%;
}

#nineties{
  
  left:35%;
}
  
#refresh{
  left: 5%;
  color: white;
}
#custom{
  left:45% ;
}
a{
  text-decoration: none;
  font-size: 30px;
  
  color: black;
}
a:hover {
  color: white;
  font-size: 30px;
  
}



 
/* #bg-gradient {
  position: absolute;
  position: absolute;
  top: 10px; 
  left: 50px;
height:100%;
width: 90%;

margin-left: auto;
margin-right: auto;
    z-index: 10;
  
    overflow: hidden;
   
}

#bg-gradient .inner {
  background: rgb(236,25,25);
  background: linear-gradient(90deg, rgba(236,25,25,1) 0%, rgba(229,122,53,1) 5%, rgba(219,193,92,1) 12%, rgba(225,220,131,1) 19%, rgba(189,244,153,1) 26%, rgba(181,215,175,1) 32%, rgba(190,195,189,1) 36%, rgba(170,208,182,1) 41%, rgba(177,204,198,1) 44%, rgba(136,228,234,1) 49%, rgba(130,193,229,1) 53%, rgba(124,132,224,1) 57%, rgba(114,110,219,1) 61%, rgba(146,88,215,1) 65%, rgba(185,66,210,1) 69%, rgba(207,49,207,1) 74%, rgba(210,68,213,1) 77%, rgba(222,99,181,1) 82%, rgba(202,130,177,1) 87%, rgba(207,124,156,1) 92%, rgba(255,0,0,1) 100%);
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
} */




#toggleImage{
 



opacity: 0;
  z-index: 10993333333;
  
  height:60%;
  width: 55%;

  position: absolute;
  top: 47px; 
  


margin-left: 43%;
margin-right: 50px;
}

#ninetiesbg{
  top: 100px;
  left: 10px;
 
}
#ninetiesimg{
  top: 180px;
  left: 10px;

}

#ninetiestext{
  top: 260px;
  left: 10px;

}
#bg{
  top: 100px;
  left: 10px;
 
}
#print2{
  top: 180px;
  left: 10px;
 

}
#img{
  top: 260px;
  left: 10px; 
}

#border3{
  opacity: 0;
}
#background1{
  z-index: -1;
 
  /* top: 200px; 
  height:90%;
  width: 40%;
margin-left: 25%;  */
position: absolute;
top: 10px; 
display: block;
height: 100%;
width: 105%;



}


#title90{
  position: absolute;
  font-size: 130px;
  height: 20%;
    width: 80%;
    background-color: transparent;
    border: 0px;
    color: black;
    text-align: center;
    opacity: 0;
    top: 70%;
    left: 180px;

    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    z-index: 10000;
   
}

#title90:focus {
background-color: grey;
}

#toggleImage2{


  position: absolute;
top: 10px; 
display: block;
height: 100%;
width: 100%;
left: 0px;

margin-left: auto;
margin-right: auto;
opacity: 0;
  z-index: 1;
  
   
 
}


/* 80s css */

#border4{
  opacity: 0;
}

#background80s{

display: block;
z-index: -1;
position: absolute;
top: 10px; 

height:100%;
width: 100%;

margin-left: auto;
margin-right: auto;
}

#border1980s {
  height:95%;
width: 95%;
border-width: 5px;
border-style: solid;
border-radius: 2%;
display: block;
position: absolute;
top: 20px;
margin-left: auto;
margin-right: auto;
z-index: 700000;

opacity: 0;
padding: 1%;
}

#title80{
  font-size: 90px;
  height: 50%;
    width: 70%;
    background-color: transparent;
    border: 0px;
    color:  linear-gradient(red, yellow);
    padding: 10%;
opacity: 0;
z-index: 999;
position : absolute;
}

#title80:focus {
background-color: grey;
}

#img80s{

  position: absolute;

  /* height: 1200px;
  width: 700px; */
 opacity: 0;
  z-index: 99999999;
 
  height:100%;
  width: 100%;
 
  overflow-x: scroll;
  top: 0px;
}
#bg80s{
  position: absolute;

  /* height: 1200px;
  width: 700px; */
 opacity: 0;
  z-index: 8;
 
  height:100%;
  width: 100%;
  
  left: 0%;
  overflow-x: scroll;
  top: 0px;
}
#eightiesimg{
  top: 180px;
  left: 10px;
  z-index: 8888888888;
}

#eightiesbg{
  top: 260px;
  left: 10px;
  z-index: 888888888;
}
#eightiesborder {

  top: 340px;
  left: 10px;
  z-index: 8888888888;
}

#eightiestext{
  top: 400px;
  left: 0px;
}
svg{
  color: grey;
  width: 50px;
  height: 50px;
  mix-blend-mode:difference;
}
p{
  font-size: 15px;
  font-family: "";
  opacity: 0;
}
a{
  z-index: 3999999;
}

#gifs{


  position: absolute;
top: 10px; 
display: block;
height: 100%;
width: 100%;
left: 0px;

margin-left: auto;
margin-right: auto;
opacity: 0;
  z-index: 19;
  
   
 
}

#gif2000{
  top: 260px;
  left: 10px;


}

#text2000{
  top: 380px;
  left: 10px;

}
#title2000{
  position: relative;
  font-size: 130px;
  height: 20%;
    width: 80%;
    background-color: transparent;
    border: 0px;
    color: black;
    text-align: center;
    opacity: 0;
    top: 50%;
    left: 180px;

    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    z-index: 1099999999000;
   
}

#title2000:focus {
background-color: grey;
}

#twothousand{
  opacity: 0;
}

#reel{
  background-color: transparent;
  width: 60px;
  height: 60px;
}

