  
  @font-face {
    font-family: "Comic1";
    src: url("Comic\ Book\ Bold\ Italic.otf");
  
  
  }
    
  @font-face {
    font-family: "Comic2";
    src: url("Comic\ Book.otf");
  
  
  }

  
  body{
  background-color: lavender;
}.container{
  display: flex;
  padding: 5px;
  flex-direction: row;
  width: 100%;
}

h1{
  font-family: "Comic1";
  display: inline;


font-size: 100px;
}

#generate:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

input {

  min-width: 50px;
  border-bottom: 1px solid black;
  padding: 1%;

}

/* form input {
  display: block;
  margin-bottom: .5rem;
} */

section {
  padding:20px;


}

#forms{
  display:inline;
}
p{
  font-family: "Comic2";
}
#generate{
position: absolute;
top: 170px;
left: 50%;
  display: inline-block;
  min-width: 50px;
  border-bottom: 1px solid black;
  padding: 1%;
font-family: "Column2";
border-radius: 205%;
height: 300px;
width: 350px;
}
#story{
  position: absolute;
  top: 520px;
  left: 40%;
  font-family: "Comic1";
  font-size: 30px;
  width: 900px;
  height:400px;
}
.refresh{


position: fixed;
top: 1050px;
left: 80%;
height: 40px;
width:40px;

opacity:1;
}
img{
  height: 60px;
width:60px;
}