.primary-header {
     font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
 
 
     margin: 0;
     padding: 5px;
   
 
 
   }
   h1{

    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
  }
   .menu{
    display:flex;
    flex-direction:column;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
   }



.color-meaning {
   display:flex;

    margin: 0;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;


  }

  
  
  .color-meaning > h1, .colors {
    margin: 10px;
    padding: 5px;
   

  }

  
  .colors {
      display:flex;
    background: white;
    flex-direction: column ;
    align-items:flex-start;
   
  }
  
  .colors > h2, p {
      display: flex;
    margin: 4px;
    font-size: 90%;
   
    align-items:flex-start;
  }




.p{
    align-items:flex-start;
}

 #red{

background-color:hsla(0, 100%, 50%, 1);

 }
 #orange{

    background-color:hsla(17, 100%, 50%, 1);
    
     }
    
 


 #yellow{

    background-color:hsla(58, 100%, 50%, 1);
    
     }
     #green{

        background-color:hsla(118, 100%, 50%, 1);
        
         }
         #blue{

            background-color:hsla(235, 100%, 50%, 1);
            
             }
             #purple{

                background-color:hsla(266, 100%, 50%, 1);
                
                 }
              