body{
  font-family: 'Anton', sans-serif;
  font-size: 20px;;
  background-color:white;
}


.btn {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;

}



/* Element */
.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

/* Modifier */
.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}







h1{
  font-family: 'Anton', sans-serif;
  font-size: 60px;
position:absolute;
top:10px;
left:50px;
margin-left: 40px;
}
.primary-header{

  display:flex;
  flex-flow: column-reverse;
  flex-basis:50px;
flex-direction: row;
}
ul{
  margin: 40px;
  text-decoration: none;
}
a{
  text-decoration: none;
color: black;
}

.menu {
  display: flex;
  align-items: center;
  }
.menu ul{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
position:relative;
top:100px;

list-style-type : none;

  
}
.menu ul li{
  padding: 10px;
}
section{
  display: flex; 
flex-direction: row;
}

img{
 display: flex;
  width:500px;
  height:450px;
 margin: 70px;

}

/* img{
  position:absolute;
  left:50px;
  top:200px;
  width:400px;
  height:350px;
 

} */

.color-schemes {

    margin: 70px;
  
    background-color: lightgray;
  }
  
  .color-schemes > h1, .types {
    margin: 10px;
    padding: 5px;
   
  }
  
  .types {
    display:flex;
   
    background: white;

  }
  
  .types > h2, p {
    margin: 4px;
    font-size: 90%;

  }

 

  @media screen and (max-width: 600px) {
   section{
     flex-direction: column;
   }
   h1{
     font-size:50px;
     margin-left: 20px;
   }
.color-schemes{
  margin: 20px;
}
img{
  margin:20px;
}
  
  ul{
margin:100px;

  }
  .menu{
    top:-10px;
  }
}