body{
  font-family: 'Anton', sans-serif;
  font-size: 20px;;
  background-color:white;
}


.btn {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;

}



/* Element */
.btn__text {
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
}

/* Modifier */
.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}







h1{
  font-family: 'Anton', sans-serif;
  font-size: 60px;
position:absolute;
top:10px;
left:50px;
}
.primary-header{

  display:flex;
  flex-flow: column-reverse;
  flex-basis:50px;
flex-direction: row;
}
.menu {
  display: flex;
  align-items: center;}
  
.menu ul{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
position:absolute;
top:80px;


  
}
img{
  position:absolute;
  left:50px;
  top:200px;
  width:400px;
  height:350px;
 

}
.color-schemes {
  position:absolute;
  left:500px;
  top:200px;
  right:50px;
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .color-schemes > h1, .types {
    margin: 10px;
    padding: 5px;
   
  }
  
  .types {
    display:flex;
   
    background: white;

  }
  
  .types > h2, p {
    margin: 4px;
    font-size: 90%;

  }

 

  
 