body{
  background: white;

}.poster-img {
    position: fixed;
    height: 700px;
    width: 600px;
top:200px;
margin-left: 40%;
margin-right: 40%;
   z-index: -1;
 


}

.button {
    font-family: "AndeloMo";
    font-size: 30px;
  
  
    display: inline-block;
    padding: 3px;
    /* opacity: 0; */

   position: absolute;
   top:300px;
margin-left: 40%;
margin-right: 40%;
border-color: transparent;
background-color: transparent;

}

 #prevButton {
  position: fixed;
 top: 450px;
 margin-left: 30%;
 margin-right: 60%;

 }


#nextButton{
     position: fixed;
    top: 450px;
    margin-left: 70%;
margin-right: 30%;
  

}


img{
  height: 100px;
  width: 60px;
}
/* #name{
  position: fixed;
  top: 1200px;
  margin-left: 50%;
margin-right: 40%;
 
} */