@font-face {
    font-family: "Eu Alonira";
    src: url("Eu Alonira.otf") format("opentype");


}




body{
 /* display: flex; */
 justify-content: center; 
margin: 75px 0;

background: white;

font-family: "Eu Alonira";
animation: mymove 15s ;
}

@keyframes mymove {
    0% {background-color: white;}
  15% {background-color: #F900E3;}
  30% {background-color: #0F00FF;}
  45%{ background-color: #55FF00;}
  60% {background-color: #00FFF0;}
75%{background-color:  #9721FF;}
  100%{background-color:  #FF8300;}


}


   a{
       text-decoration: none;
       color: white;
   }

.mind-btn {
    margin: auto;
  
   z-index: 1;
  /* margin-top: 900px;
  margin-left: 200px; */

 

}
.mind-btn:hover + .mind-text {
opacity: 1;
}

.mind-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s opacity ease;
    z-index: -1;
    justify-content: center;
    text-align: center;
font-family: "Eu Alonira";
font-size: 90%;
line-height: 150%;
}

@media only screen and (max-width: 600px) {
 .mind-text{
     margin-top: 20px;
     top: 20px;
 }   
}

.box_item{
    
    font-size: 60px;
margin: auto;
margin-top: 30%;
text-align: center;
display: block;
}

@media only screen and (max-width: 600px) {
   .box_item {
      font-size: 40px;
    line-height: 45px;
    margin-top: 15px;
  }
}
  



.box_item:hover{
/*
    font-size: 0;

*/

}

.box_item:hover::after{
    content: attr(data-hover);
    font-size: 20px;
    line-height: 20px;
    font-weight: 20;
    text-align: center;
    display:block;
    margin-top: 30%;
   
}

#p1{
    color: #0F00FF;
}
 #p2{
     color: #F900E3;
 }
 #p3{
     color: #55FF00;
 }
 #p4{
     color:#00FFF0;
 }
 #p5{
    color:#9721FF; 
 }
 #p6{
   color:#FF8300;


 }
 #p7{
     color:#FBFF00;
 }

#p8{
    color: #0F00FF;
}
 #p9{
     color: #F900E3;
 }
 #p10{
     color: #55FF00;
 }
 #p11{
     color:#00FFF0;
 }
 #p12{
    color:#9721FF; 
 }
 #p13{
   color:#FF8300;


 }
 #p14{
     color:#FBFF00;
 }


#p15{
    color: #0F00FF;
}
 #p16{
     color: #F900E3;
 }

