@font-face {
  font-family: "Eu Alonira";
  src: url("Eu Alonira.otf") format("opentype");


}
body{
    background-color: black;
    font-family: "Eu Alonira";
    font-size: 12px;
    line-height: 26px;
    /* cursor: url('path-to-image.png'), auto; */
}



.heading{
  margin-top: 8%;
 
text-align: center;
font-size: 450%;
color: white;
position: relative;


}
@media only screen and (max-width: 600px) {
  .heading{
      margin-top: 8%;
      top: 20px;
      height:450%;
      width:60%;
      font-size: 850%;
      line-height: 200%;
  }   
 }


a{
  text-decoration: none;
  color: white;

}
.back{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #0A2BFF;
margin-top: 60%;
opacity: 0.6;
  
}
.cards {
   
   width: 25%;
    height:70%;
    border-width: 2px;
    border-radius: 5%;
margin-top: 5%;
margin-left: 5%;
text-align: center;
font-size: 12px;

}
@media only screen and (max-width: 600px) {
  .cards {
    font:8px;
    line-height: 18px;
    height:50%;
    width:35%;
    margin-left: 10px;

  }
  .heading{
    font-size: 25px;

  }
}


#card1{
    position: absolute;
    margin-top:  240px;;
    margin-left: 280px;
    transform: rotate(-25deg);
   background: linear-gradient(to top, #B300CF 0%, #CF1512 100%);
 
   animation-name: c1;
  animation-duration: 2s;
  
}


@keyframes c1{
  from {opacity:0.3}
  to {opacity:1}
}

#paragraph1{
    display:none;
    position:fixed;
    padding: 5px; 
    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}


#card2{
    position: absolute;
    margin-top:240px;
    margin-left: 300px;
    transform: rotate(-13deg);
    background: linear-gradient(to top, #B300CF 0%, #CF199E 100%);
    animation-name: c2;
    animation-duration: 2s;
    animation-delay: 2s;
    opacity:0;
    animation-fill-mode: forwards;
  }
  
  @keyframes c2{
    from {opacity:0}
    to {opacity:1}
  }

 
#paragraph2{
    display:none;
    position:fixed;
    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;


z-index: 18;
}
#card3{
    position: absolute;
    margin-top:220px;
    margin-left: 400px; 
    transform: rotate(-5deg);
    background: linear-gradient(to top, #B300CF 0%, #1540CF 100%);
    animation-name: c3;
    animation-duration: 2s;
    animation-delay: 6s;
    opacity:0;
    animation-fill-mode: forwards;
    overflow: scroll;
  }
  
  @keyframes c3{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph3{
    display:none;
    position:fixed;
    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;


z-index: 17;
}
#card4{
    position: absolute;
    margin-top:225px;
    margin-left: 480px; 
    transform: rotate(0deg);
    background: linear-gradient(to top, #3011CF 0%, #04CFC1 100%);
    animation-name: c4;
    animation-duration: 2s;
    animation-delay: 8s;
    opacity:0;
    animation-fill-mode: forwards;
    overflow: scroll;
  }
  
  @keyframes c4{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph4{
    display:none;
    position:fixed;


    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;

z-index: 16;
}
#card5{
    position: absolute;
    margin-top:225px;
    margin-left: 560px;
    transform: rotate(4deg);
    background: linear-gradient(to top, #B300CF 0%, #04CFC1 100%);
    animation-name: c5;
    animation-duration: 2s;
    animation-delay: 10s;
    opacity:0;
    animation-fill-mode: forwards;
  }
  
  @keyframes c5{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph5{
    display:none;
    position:fixed;

    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}


#card6{
    position: absolute;
    margin-top:230px;
    margin-left: 600px;
    transform: rotate(10deg);
    background: linear-gradient(to top, #FFC830 0%, #AC00CF 100%);
    animation-name: c6;
    animation-duration: 2s;
    animation-delay: 12s;
    opacity:0;
    animation-fill-mode: forwards;
  }
  
  @keyframes c6{
    from {opacity:0}
    to {opacity:1}
  }


#paragraph6{
    display:none;
    position:fixed;


    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}


#card7{
    position: absolute;
    margin-top:240px;
    margin-left: 660px;
    transform: rotate(17deg);
    background: linear-gradient(to top, #FFC830 0%, #CF0A66 100%);
    animation-name: c7;
    animation-duration: 2s;
    animation-delay: 14s;
    opacity:0;
    animation-fill-mode: forwards;
  }
  
  @keyframes c7{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph7{
    display:none;
    position:fixed;

    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}
#card8{
    position: absolute;
    margin-top:250px;
    margin-left: 700px;
    transform: rotate(22deg);
    background: linear-gradient(to top, #05E6FF 0%, #00CF61 100%);
    animation-name: c8;
    animation-duration: 2s;
    animation-delay: 16s;
    opacity:0;
    animation-fill-mode: forwards;
  }
  
  @keyframes c8{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph8{
    display:none;
    position:fixed;

    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}
#card9{
    position: absolute;
    margin-top:280px;
    margin-left: 730px;
    transform: rotate(28deg);
    background: linear-gradient(to top, #DE08FF 0%, #CF0000 100%);
    animation-name: c9;
    animation-duration: 2s;
    animation-delay: 18s;
    opacity:0;
    animation-fill-mode: forwards;
    overflow: scroll;
    
  }
  
  @keyframes c9{
    from {opacity:0}
    to {opacity:1}
  }

#paragraph9{
    display:none;
    position:fixed;

    width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;

}

#card10{
  position: absolute;
  margin-top:290px;
  margin-left: 760px;
  transform: rotate(30deg);
  background: linear-gradient(to top, #0A2BFF 0%, #CF1DBD 100%);
  animation-name: c10;
  animation-duration: 2s;
  animation-delay: 20s;
  opacity:0;
  animation-fill-mode: forwards;
  
}

@keyframes c10{
  from {opacity:0}
  to {opacity:1}
}
#paragraph10{
  display:none;
  position:fixed;

  width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}

#card11{
  position: absolute;
  margin-top:290px;
  margin-left: 770px;
  transform: rotate(36deg);
  background: linear-gradient(to top, #DE08FF 0%, orange 100%);
  animation-name: c11;
  animation-duration: 2s;
  animation-delay: 22s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes c11{
  from {opacity:0}
  to {opacity:1}
}

#paragraph11{
  display:none;
  position:fixed;

  width: 90%;
    height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}


#card12{
  position: absolute;
  margin-top:290px;
  margin-left: 810px;
  transform: rotate(42deg);
  background: linear-gradient(to top, #DE08FF 0%, rgb(1, 250, 1) 100%);
  animation-name: c9;
  animation-duration: 2s;
  animation-delay: 24s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes c12{
  from {opacity:0}
  to {opacity:1}
}
#paragraph12{
  display:none;
  position:fixed;

  width: 90%;
  height: 95%;
justify-content: center;
text-align: center;
font-size: 100%;
z-index: 20;
border-color: wheat;
border-width: 4px;
border-style: double;
border-radius: 20px;
margin: 5px;
overflow: scroll;
}

.back2{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #DE08FF;
margin-top: 60%;
  opacity: 0.6;
}
.back3{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color:  rgb(1, 250, 1);
margin-top: 60%;
opacity: 0.6;
}
.back4{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #CF0;
margin-top: 60%;
opacity: 0.6;
}
.back5{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #0A2BFF;
margin-top: 60%;
opacity: 0.6;
}
.back6{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: red;
margin-top: 60%;
opacity: 0.6;
}
.back7{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #DE08FF;
margin-top: 60%;
opacity: 0.6;
}
.back8{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: orange;
margin-top: 60%;
opacity: 0.6;
}
.back9{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color: #0A2BFF;
margin-top: 60%; 
opacity: 0.6;
}
.back10{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color:  rgb(1, 250, 1);
margin-top: 60%; 
opacity: 0.6;
}
.back11{

  font-size: 940%;
position: absolute;
mix-blend-mode: difference;
color:  #05E6FF;
margin-top: 60%; 
opacity: 0.6;
}
.back12{
  font-size: 940%;
 
position: absolute;
mix-blend-mode: difference;
color: orange;
margin-top: 60%;
opacity: 0.6;
}
#next{
  position: absolute;
 top: 50px;
 left:95%;
}
#back1{
  position: absolute;
 top: 50px;
 left:2%;
}