body{
 display: flex;
 justify-content: center; 
margin:75px 0;

}
.box_item{
    width: 200px;
    height:700px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
padding: 20px;


}

.box_item:hover{

    font-size: 0;



}

.box_item:hover::after{
    content: attr(data-hover);
    font-size: 20px;
    line-height: 20px;
    font-weight: 20;
    text-align: center;
    display:flex;
    flex-direction: column;
}

