body{
    width:100vw;
    height:100vw;
    margin:0;
}

.curved{
    background:  red;
    color: white;
    text-align: center;

}
.curved h1{
    font-size: 50px;

}
.curved p{ 

font-size: 24px;

}

