body{
 display: flex;
 justify-content: center; 
margin: 75px 0;

background: white;


animation: mymove 15s ;
}

@keyframes mymove {
    0% {background-color: white;}
  15% {background-color: #F900E3;}
  30% {background-color: #0F00FF;}
  45%{ background-color: #55FF00;}
  60% {background-color: #00FFF0;}
75%{background-color:  #9721FF;}
  100%{background-color:  #FF8300;}


}

.container{

    color:#0F00FF;
    display:flex;
   flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height:600px;
}

.box_item{
    width: 200px;
    height:700px;
    
    display: flex;
    align-items: center;
    justify-content: center;
padding: 20px;


}

.box_item:hover{

    font-size: 0;



}

.box_item:hover::after{
    content: attr(data-hover);
    font-size: 20px;
    line-height: 20px;
    font-weight: 20;
    text-align: center;
    display:block;
   
}

