@font-face {
    font-family: "Black Rose";
    src: url("BlackRose=2Onld.ttf") format("opentype");
  
  
  }
  @font-face {
    font-family: "AndeloMO";
    src: url("../ANDALEMO.ttf") format("opentype");
  
  
  }
.heading{
    font-family: "Black Rose";
    text-decoration: none;
    font-size: 90px;
color: white;
    -webkit-text-stroke: 2px black;
    position: absolute;
    margin: 12%;
}
a{
    font-family: "AndeloMo";
    text-decoration: none;
    justify-content: center;
  color: black;
    font-size: 85px;
    position: absolute;
    margin: 8%;
  
  
}

.oval{
    font-family:"AndeloMo";
    font-size: 72px;
    width: 400px;
    height: 137px;
    border-radius: 50%;

    border-color: black;
    border-width: 2px;
    border-style: solid;
   justify-content: center;
  text-decoration: none;
  position: absolute;

margin-top: 18%;
margin-bottom: 18%;
margin-left: 40%;


}

img{
    height: 600px;
    width: 500px;
    position: absolute;
    margin-left: 50%;
    z-index: -1;
    margin-top: 20%;
}

