.container {

    font-family: "Celtic";
    color: brown;
    justify-content: center;


}

.h1{
    color: blueviolet;
    font-size: 300px;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
a{
    color: green;
    font-family: "Celtic";

}

.h2{
    color: aqua;
    font-size: 200px;
    justify-content: center;
    margin: 20%;
}

