@font-face {
    font-family: "Black Rose";
    src: url("BlackRose=2Onld.ttf") format("opentype");
  
  
  }
  @font-face {
    font-family: "AndeloMO";
    src: url("../ANDALEMO.ttf") format("opentype");
  
  
  }
.heading{
    font-family: "Black Rose";
    text-decoration: none;
    font-size: 100px;
color: white;
    -webkit-text-stroke: 2px black;
    position: absolute;
    margin-top: 40%;
    margin-left: 25%;
    margin-right: 20%;
}


.oval{
    font-family:"AndeloMo";
    font-size: 99px;
    width: 480px;
    height: 127px;
    border-radius: 60%;
text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
   justify-content: center;
  text-decoration: none;
  position: absolute;
  margin-top: 44%;
  margin-left: 45%;
  margin-right: 15%;
  padding: 1%;

}

img{
    height: 1000px;
    width: 900px;
    position: fixed;
    top:-130px;
    margin-left: 25%;

   z-index: -1;
}

